<.form for={%{}} action={~p"/login"} method="post">
  <.input name="username" value="" label="Username" />
  <.input name="password" type="password" value="" label="Password" />
  <.button>Login</.button>
</.form>
